@import "./variables.scss";

// @function getMaxWidth($max) {
//   @return $max - 1px;
// }

@mixin mediaMax($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin neumorphism(
  $inset: null,
  $shadow-step: 0.375rem,
  $glow-step: -0.375rem,
  $blur: 0.688rem,
  $radius: 0.375rem
) {
  box-shadow: #{$inset} $shadow-step $shadow-step $blur $neo-blackout,
    #{$inset} $glow-step $glow-step $blur $neo-glow;
  background: #e3eeff;
  border: 1px solid rgba(139, 139, 139, 0.0784313725);
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
};

$indent: clamp(0.875rem, 2vw, 1.5rem);

@mixin container(
  $max-width: 73.75rem,
  $width: 100%,
  $padding: $indent $indent $indent $indent
) {
  max-width: $max-width;
  margin: 0 auto;
  width: $width;
  padding: $padding;
};
