$primary-color: #257EFF;
$secondary-color: #FFA710;
$text-color: #5b5b5b;

$active-color: #0c4aa6;
$error-color: #FF6E10;

$neo-color: #E3EEFF;
$neo-blackout: #bec9db;
$neo-glow: #ffffff;

$xs: 30rem; //480px;
$sm: 40.625rem; //650px;
$md: 53.125rem; //850px;
$lg: 71.875rem; //1150px;
$xl: 84.375rem; //1350px;
$xxl: 90.625rem; //1450px;


// default colors for svg
:root {
  --primary-color: #{$primary-color};
  --fly-logo-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --text-color: #{$text-color};
}