/* styles.css */
.earth-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #020024, #090979, #00d4ff);
  overflow: hidden;
}

// .preloader {
//   position: relative;
//   width: 150px;
//   height: 150px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.earth {
  width: 53.68px;
  height: 53.68px;
  background: white;
  overflow: hidden;
  // background: url('https://e7.pngegg.com/pngimages/350/304/png-clipart-earth-icon-world-map-globe-united-states-globe-miscellaneous-building.png') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  // animation: rotate-earth 10s linear infinite;
  // box-shadow: 0 0 20px rgba(0, 0, 255, 0.5), inset 0 0 10px rgba(0, 0, 255, 0.3);
}

.moving-image {
  position: absolute;
  top: 50%;
  //left: -100%;
  right: 0;
  // width: 300px;
  // height: 150px;
  // aspect-ratio: 16 / 9;
  // background:url('https://img.freepik.com/free-photo/global-globalization-world-map-environmental-concservation-concept_53876-124164.jpg') center;
  background-repeat: repeat-x;
  background-size: cover;
  animation: move-infinity 4s linear infinite;
  -webkit-animation: move-infinity 4s linear infinite;
}

@keyframes move-infinity {
  0% {
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
}
  100% {
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}
}

// @keyframes rotate-earth {
//   0% {
//     transform: rotateY(0deg);
//   }
//   100% {
//     transform: rotateY(360deg);
//   }
// }
