.footer-wrapper {
  border-top: 1px solid $neo-glow;
  margin-top: 5rem;

  .container {
    @include container($padding: 0 $indent 0 $indent)
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid $neo-glow;
    padding: 1.75rem 0;
  }

  .contact-section {
    padding: 1.75rem 0;

    .contact-block {
      display: flex;
      margin-top: 1.5rem;
      justify-content: space-between;
      align-items: center;

      .contact-links {
        display: flex;
        gap: 1.5rem;
      }

      .social {
        display: flex;
        gap: 1.5rem;

        .social-btn {
          height: 2.75rem;
          width: 2.75rem;
          @include neumorphism($radius: 50%);

          :nth-child(1) {
            transform: translateY(1px);
            -webkit-transform: translateY(1px);
            -moz-transform: translateY(1px);
            -ms-transform: translateY(1px);
            -o-transform: translateY(1px);
}
        }
      }
    }
  }
}