.footer-wrapper {
  border-top: 1px solid $neo-glow;
  margin-top: 5rem;

  .container {
    @include container($padding: 0 $indent 0 $indent);
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1rem;
    border-bottom: 1px solid $neo-glow;
    padding: 1.75rem 0;

    @include mediaMax($lg) {
      grid-template-columns: repeat(3, auto);
      justify-items: center;
    }

    @include mediaMax($md) {
      grid-template-columns: repeat(2, auto);
    }

    @include mediaMax($sm) {
      grid-template-columns: 1fr;
    }
  }

  .contact-section {
    padding: 1.75rem 0;

    @include mediaMax($lg) {
      text-align: center;
    }

    .contact-block {
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 1.5rem;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      @include mediaMax($lg) {
        grid-template-columns: 1fr;
      }

      .contact-links {
        display: flex;
        gap: 1.5rem;

        @include mediaMax($lg) {
          justify-content: center;
        }

        @include mediaMax($sm) {
          display: grid;
          justify-items: center;

          a {
            width: 100%;
            
            button {
              width: 100%;
            }
          }
        }
      }

      .social {
        display: flex;
        gap: 1.5rem;

        @include mediaMax($lg) {
          justify-content: center;
        }

        .social-btn {
          height: 2.75rem;
          width: 2.75rem;
          @include neumorphism($radius: 50%);

          :nth-child(1) {
            transform: translateY(1px);
            -webkit-transform: translateY(1px);
            -moz-transform: translateY(1px);
            -ms-transform: translateY(1px);
            -o-transform: translateY(1px);
          }
        }
      }
    }
  }
}
