.link-ui {
  color: $primary-color;
  
  span {
    display: block;
    width: 0;
    height: 1px;
    margin: 0 auto;
    background-color: $active-color;
    transition: .500s;
    -webkit-transition: .500s;
    -moz-transition: .500s;
    -ms-transition: .500s;
    -o-transition: .500s;
}

  &:hover {
    color: $active-color;

    span { 
      width: 100%;
    }
  }
}
