.our-advantages {
  margin: 2.5rem 0;
  @include container();

  .our-advantages-items {
    margin-top: 2.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @include mediaMax($lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mediaMax($md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mediaMax($sm) {
      grid-template-columns: 1fr;
    }

    .advantages-item {
      @include neumorphism(
        $shadow-step: 0.438rem,
        $glow-step: -0.438rem,
        $blur: 0.875rem,
        $radius: 1rem
      );
      padding: 0.5rem;
      aspect-ratio: 1/1;

      .inset-block {
        @include neumorphism(
          $inset: inset,
          $shadow-step: 0.438rem,
          $glow-step: -0.438rem,
          $blur: 0.875rem,
          $radius: 0.563rem
        );
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        text-align: center;
        justify-content: space-evenly;

        .icon {
          @include neumorphism(
            $shadow-step: 0.438rem,
            $glow-step: -0.438rem,
            $blur: 0.875rem,
            $radius: 50%
          );
          display: block;
          aspect-ratio: 1/1;
          display: flex;
          padding: 1rem;
          margin-bottom: 1rem;
          justify-content: center;
          align-items: center;
          height: 60%;
          transform: scale(0) rotate(359deg);
          -webkit-transform: scale(0) rotate(359deg);
          -moz-transform: scale(0) rotate(359deg);
          -ms-transform: scale(0) rotate(359deg);
          -o-transform: scale(0) rotate(359deg);
          transition: 1s;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
          
          &.is-visible {
            transform: scale(1) rotate(0deg);
            -webkit-transform: scale(1) rotate(0deg);
            -moz-transform: scale(1) rotate(0deg);
            -ms-transform: scale(1) rotate(0deg);
            -o-transform: scale(1) rotate(0deg);
          }
        }

        .item-title {
          color: $text-color;

          @include animToTop($delay: 0.4s);
        }

        p {
          font-size: 0.875rem;

          @include animToTop($delay: 0.8s)
        }
      }
    }
  }
}
