.our-advantages {
  margin: 2.5rem 0;

  .our-advantages-items {
    margin-top: 2.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    .advantages-item {
      @include neumorphism(
        $shadow-step: 0.438rem,
        $glow-step: -0.438rem,
        $blur: 0.875rem,
        $radius: 1rem
      );
      padding: 0.5rem;
      aspect-ratio: 1/1;

      .inset-block {
        @include neumorphism(
          $inset: inset,
          $shadow-step: 0.438rem,
          $glow-step: -0.438rem,
          $blur: 0.875rem,
          $radius: 0.563rem
        );
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        text-align: center;
        justify-content: space-evenly;

        .icon {
          @include neumorphism(
            $shadow-step: 0.438rem,
            $glow-step: -0.438rem,
            $blur: 0.875rem,
            $radius: 50%
          );
          display: block;
          aspect-ratio: 1/1;
          display: flex;
          padding: 1rem;
          margin-bottom: 1rem;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
