.direction {
  .input-block {
    margin-bottom: 0;
  }
}

.airports-list {
  width: 330px;
  .airport-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    &:hover {
      background-color: $secondary-color;
    }

    .city {
      display: flex;
      gap: 1rem;
      align-items: center;

      small {
        opacity: 0.7;
      }
    }
  }
}

.dropdown-item {
  padding: 0 !important;
}
