.portholes {
  margin: 3rem 0;
  .porthole-items {
    padding: 2rem;
    width: 100px;
    .outside {
      @include neumorphism($shadow-step: 0.625rem, $glow-step: -0.625rem, $blur: 1rem, $radius: clamp(40px, 5vw, 70px));
      padding: 1rem;
      .inside {
        @include neumorphism($inset: inset, $radius: clamp(30px, 4vw, 60px));
        padding: 0.5rem;

        .img-wrap {
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          border-radius: clamp(24px, 4vw, 54px);
          -webkit-border-radius: clamp(24px, 4vw, 54px);
          -moz-border-radius: clamp(24px, 4vw, 54px);
          -ms-border-radius: clamp(24px, 4vw, 54px);
          -o-border-radius: clamp(24px, 4vw, 54px);
          overflow: hidden;
          height: 10vw;
}
      }
    }
  }
}
