.portholes-wrap {
  overflow: hidden;

  .portholes {
    // display: grid;
    // grid-auto-flow: column;
    width: 2000px;
    margin: 3rem 0;
  
    .porthole-items {
      padding: 2rem;
      width: 230px;
      height: 280px;
  
      .outside {
        height: 100%;
        @include neumorphism(
          $shadow-step: 0.625rem,
          $glow-step: -0.625rem,
          $blur: 1rem,
          $radius: 70px,
        );
        padding: 1rem;
        .inside {
          height: 100%;
          @include neumorphism($inset: inset, $radius: 60px);
          padding: 0.5rem;
  
          .img-wrap {
            height: 100%;
            .image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            overflow: hidden;
            border-radius: 54px;
            -webkit-border-radius: 54px;
            -moz-border-radius: 54px;
            -ms-border-radius: 54px;
            -o-border-radius: 54px;
          }
        }
      }
    }
  }
}