.auth {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 230px);
  justify-content: center;
  @include container();

  @include animToTop($delay: 1.4s);

  @include mediaMax($sm) {
    grid-template-columns: 300px;
  }

  button {
    width: 100%;
  }
}
