.heading-ui {
  color: $primary-color;
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: bold;
  }

  h1 {
    font-size: clamp(1.375rem, 3vw, 2rem);
  }
  h2 {
    font-size: clamp(1.25rem, 2vw, 1.75rem)
  }
  h3 {
    font-size: 1.563rem
  }
  h4 {
    font-size: 1.313rem
  }
  h5 {
    font-size: 1.125rem
  }
  h6 {
    font-size: 0.875rem
  }
}