$gap: 1rem;

.search-form-section {
  @include container();

  .search-form {
    @include neumorphism();
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.1rem;

    .input-ui-block {
      margin-bottom: 0;
    }

    input {
      height: 46px;
      margin-bottom: 0 !important;
    }

    .action-btn {
      text-wrap: nowrap;
      @include neumorphism(
        $shadow-step: 0.188rem,
        $glow-step: -0.188rem,
        $blur: 0.375rem,
        $radius: 0.375rem
      );

      &:active {
        @include neumorphism(
          $shadow-step: 0rem,
          $glow-step: -0rem,
          $blur: 0rem,
          $radius: 0.375rem
        );
      }
    }

    .search-btn {
      grid-column: 5/6;
    }
  }
}
