.search-form {
  @include container();
  @include neumorphism();
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;

  .title {
    grid-column: 1/-1;
  }

  // .input-item {
  //   padding: 1.25rem 1rem;
  //   margin: 0;
  // }
}