.modal-header {
  .title {
    :nth-child(1) {
      font-weight: 500;

      @include mediaMax($sm) {
        text-align: center;
      }
    }
  }

  .actions-block {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @include mediaMax($sm) {
      flex-direction: column-reverse;
    }

    .items {
      display: flex;
      gap: 1rem;

      svg {
        height: 1.25rem;
        width: auto;
      }
    }
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}
