.modal-ui-background {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s 0.3s;

  .modal-window {
    background-color: $neo-color;
    max-width: 800px;
    width: fit-content;
    @include container($max-width: 50rem, $width: auto);
    border-radius: 1rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.3s;


    .section {
      margin: 0;
    }
  }

  &.anim {
    background-color: rgba(0, 0, 0, 0.295);
    transition: 0.3s 0s;
    .modal-window {
      transform: translateY(0);
      opacity: 1;
      transition: 0.3s 0.3s;
    }
  }
}

@keyframes fade {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  2% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}
