.calendar {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  transition: 0.300s;

  .weeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.875rem;
    margin: 1rem 0 1rem 0;

    .week-day {
      align-self: center;
      justify-self: center;
    }

    button {
      background: none;
      border: none;
      color: $text-color;

      &:disabled {
        color: rgba(91, 91, 91, 0.5);

        &:active {
          @include neumorphism(
            $shadow-step: 0.25rem,
            $glow-step: -0.25rem,
            $blur: 0.313rem
          );
        }

        &:hover {
          color: rgba(91, 91, 91, 0.5);
          cursor: not-allowed;
        }
      }
    }

    .day {
      cursor: pointer;

      @include neumorphism(
        $shadow-step: 0.25rem,
        $glow-step: -0.25rem,
        $blur: 0.313rem
      );
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;

      &:hover {
        color: $primary-color;
      }

      &:active {
        @include neumorphism(
          $inset: inset,
          $shadow-step: 0.25rem,
          $glow-step: -0.25rem,
          $blur: 0.313rem
        );
      }
    }
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {

    &:disabled {

      svg {
        opacity: 0.7;
      }
    }
  }

  .prev {
    svg {
      transform: rotate(180deg);
    }
  }
}
