.login-form {
  margin: 0 auto;
  width: 320px;

  .title {
    margin: 0.5rem 0 1rem 0;
  }

  .botton-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
}